<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="styles.css" class="css" />
  </head>
  <body>
    <div class="form-container">
      <h2>Login</h2>

      <form action="/login" method="post">
        <% if (failed) { %>
            <div class="login-failed">
                <strong>Invalid Username/Password. Login Failed.</strong>
                <br><p></p>
            </div>
        <% } %> 
        <% if (logout) { %>
            <div class="login-failed">
                <strong>Logged out successfully.</strong>
                <br><p></p>
            </div>
        <% } %> 
        <div class="form-group">
          <label for="name">Username:</label>
          <input
            type="text"
            name="username"
            id="name"
            placeholder="Enter your username"
            required
            autocomplete="off"
          />
        </div>
        <br>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
          />
        </div>

        <button type="submit" class="submit-btn">Login</button>
      </form>

      <p>Dont have an account ? <a href="/signup">Signup</a></p>
    </div>
  </body>
</html>